@import './flags.scss';

.phone-field-flag-icon {
  margin-right: 4px;
  display: inline-block;
  width: 16px;
  height: 11px;
  background: url(../flags.png) no-repeat;
}
.input-group-btn.phone-field-flag {
  display: table-cell;
  width: 45px;
  vertical-align: top;
}
.input-group-btn.phone-field-flag .phone-field-flag-country {
  display: block;
  float: left;
  width: 80px;
  max-width: 90px;
  height: 20px;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
@media (max-width: 1366px) {
  .input-group-btn.phone-field-flag .phone-field-flag-country {
    width: 25px;
    text-overflow: clip;
  }
}
