.pretty-scrollbars ::-webkit-scrollbar-track,
html:not(.touch-screen) ::-webkit-scrollbar-track {
  background-color: transparent;
}
.pretty-scrollbars ::-webkit-scrollbar,
html:not(.touch-screen) ::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}
.pretty-scrollbars ::-webkit-scrollbar-thumb,
html:not(.touch-screen) ::-webkit-scrollbar-thumb {
  border: solid 2px transparent;
  background-color: #072d52;
  border-radius: 9px;
  background-clip: content-box;
}
.pretty-scrollbars .scrollbars-tiny::-webkit-scrollbar,
html:not(.touch-screen) .scrollbars-tiny::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
.pretty-scrollbars .scrollbars-scroll-only:not(:hover),
html:not(.touch-screen) .scrollbars-scroll-only:not(:hover) {
  overflow: hidden !important;
}
.pretty-scrollbars[data-color-mode='dark'] ::-webkit-scrollbar-thumb,
html:not(.touch-screen)[data-color-mode='dark'] ::-webkit-scrollbar-thumb {
  background-color: #e3e8ed;
}
.flicker {
  -webkit-animation-name: flicker !important;
  animation-name: flicker !important;
  -webkit-animation-duration: 0.1s !important;
  animation-duration: 0.1s !important;
  -webkit-animation-iteration-count: infinite !important;
  animation-iteration-count: infinite !important;
}
@-webkit-keyframes flicker {
  0% {
    opacity: 0;
  }
  10%,
  70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes flicker {
  0% {
    opacity: 0;
  }
  10%,
  70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.file-icon.file-icon-small:after {
  content: '';
  display: block;
  width: 68px;
  height: 90px;
  position: absolute;
  top: 15px;
  left: 0;
  background-image: url(../../78682d97b67f9102fcff.png);
  background-size: 816px;
  background-repeat: no-repeat;
  -webkit-transform-origin: top left;
  transform-origin: top left;
  -webkit-transform: scale(0.45);
  transform: scale(0.45);
}
.file-icon.file-icon-small.pdf:after {
  background-position: 0px 0px;
}
.file-icon.file-icon-small.jpg:after {
  background-position: -68px 0px;
}
.file-icon.file-icon-small.png:after {
  background-position: -136px 0px;
}
.file-icon.file-icon-small.ppt:after {
  background-position: -204px 0px;
}
.file-icon.file-icon-small.doc:after {
  background-position: -272px 0px;
}
.file-icon.file-icon-small.zip:after {
  background-position: -340px 0px;
}
.file-icon.file-icon-small.exe:after {
  background-position: -408px 0px;
}
.file-icon.file-icon-small.wav:after {
  background-position: -476px 0px;
}
.file-icon.file-icon-small.mpg:after {
  background-position: -544px 0px;
}
.file-icon.file-icon-small.mp4:after {
  background-position: -612px 0px;
}
.file-icon.file-icon-small.mov:after {
  background-position: -680px 0px;
}
.file-icon.file-icon-small.html:after {
  background-position: -748px 0px;
}
.file-icon.file-icon-small.xlsx:after {
  background-position: 0px -90px;
}
.file-icon.file-icon-small.svg:after {
  background-position: -68px -90px;
}
.file-icon.file-icon-small.docx:after {
  background-position: -136px -90px;
}
.file-icon.file-icon-small.jar:after {
  background-position: -204px -90px;
}
.file-icon.file-icon-small.json:after {
  background-position: -272px -90px;
}
.file-icon.file-icon-small.csv:after {
  background-position: -340px -90px;
}
.file-icon.file-icon-small.py:after {
  background-position: -408px -90px;
}
.file-icon.file-icon-small.xml:after {
  background-position: -476px -90px;
}
.file-icon.file-icon-small.mp3:after {
  background-position: -544px -90px;
}
.file-icon.file-icon-small.css:after {
  background-position: -612px -90px;
}
.file-icon.file-icon-small.js:after {
  background-position: -680px -90px;
}
.file-icon.file-icon-small.txt:after {
  background-position: -748px -90px;
}
.file-icon.file-icon-small.reg:after {
  background-position: 0px -180px;
}
.file-icon.file-icon-small.psd:after {
  background-position: -68px -180px;
}
.file-icon.file-icon-small.ink:after {
  background-position: -136px -180px;
}
.file-icon.file-icon-small.inf:after {
  background-position: -204px -180px;
}

.phone-field-flag-icon.phone-field-flag-ad {
  background-position: -16px 0;
}
.phone-field-flag-icon.phone-field-flag-ae {
  background-position: -32px 0;
}
.phone-field-flag-icon.phone-field-flag-af {
  background-position: -48px 0;
}
.phone-field-flag-icon.phone-field-flag-ag {
  background-position: -64px 0;
}
.phone-field-flag-icon.phone-field-flag-ai {
  background-position: -80px 0;
}
.phone-field-flag-icon.phone-field-flag-al {
  background-position: -96px 0;
}
.phone-field-flag-icon.phone-field-flag-am {
  background-position: -112px 0;
}
.phone-field-flag-icon.phone-field-flag-an {
  background-position: -128px 0;
}
.phone-field-flag-icon.phone-field-flag-ao {
  background-position: -144px 0;
}
.phone-field-flag-icon.phone-field-flag-ar {
  background-position: -160px 0;
}
.phone-field-flag-icon.phone-field-flag-as {
  background-position: -176px 0;
}
.phone-field-flag-icon.phone-field-flag-at {
  background-position: -192px 0;
}
.phone-field-flag-icon.phone-field-flag-au {
  background-position: -208px 0;
}
.phone-field-flag-icon.phone-field-flag-aw {
  background-position: -224px 0;
}
.phone-field-flag-icon.phone-field-flag-az {
  background-position: -240px 0;
}
.phone-field-flag-icon.phone-field-flag-ba {
  background-position: 0 -11px;
}
.phone-field-flag-icon.phone-field-flag-bb {
  background-position: -16px -11px;
}
.phone-field-flag-icon.phone-field-flag-bd {
  background-position: -32px -11px;
}
.phone-field-flag-icon.phone-field-flag-be {
  background-position: -48px -11px;
}
.phone-field-flag-icon.phone-field-flag-bf {
  background-position: -64px -11px;
}
.phone-field-flag-icon.phone-field-flag-bg {
  background-position: -80px -11px;
}
.phone-field-flag-icon.phone-field-flag-bh {
  background-position: -96px -11px;
}
.phone-field-flag-icon.phone-field-flag-bi {
  background-position: -112px -11px;
}
.phone-field-flag-icon.phone-field-flag-bj {
  background-position: -128px -11px;
}
.phone-field-flag-icon.phone-field-flag-bm {
  background-position: -144px -11px;
}
.phone-field-flag-icon.phone-field-flag-bn {
  background-position: -160px -11px;
}
.phone-field-flag-icon.phone-field-flag-bo {
  background-position: -176px -11px;
}
.phone-field-flag-icon.phone-field-flag-br {
  background-position: -192px -11px;
}
.phone-field-flag-icon.phone-field-flag-bs {
  background-position: -208px -11px;
}
.phone-field-flag-icon.phone-field-flag-bt {
  background-position: -224px -11px;
}
.phone-field-flag-icon.phone-field-flag-bv {
  background-position: -240px -11px;
}
.phone-field-flag-icon.phone-field-flag-bw {
  background-position: 0 -22px;
}
.phone-field-flag-icon.phone-field-flag-by {
  background-position: -16px -22px;
}
.phone-field-flag-icon.phone-field-flag-bz {
  background-position: -32px -22px;
}
.phone-field-flag-icon.phone-field-flag-ca {
  background-position: -48px -22px;
}
.phone-field-flag-icon.phone-field-flag-catalonia {
  background-position: -64px -22px;
}
.phone-field-flag-icon.phone-field-flag-cd {
  background-position: -80px -22px;
}
.phone-field-flag-icon.phone-field-flag-cf {
  background-position: -96px -22px;
}
.phone-field-flag-icon.phone-field-flag-cg {
  background-position: -112px -22px;
}
.phone-field-flag-icon.phone-field-flag-ch {
  background-position: -128px -22px;
}
.phone-field-flag-icon.phone-field-flag-ci {
  background-position: -144px -22px;
}
.phone-field-flag-icon.phone-field-flag-ck {
  background-position: -160px -22px;
}
.phone-field-flag-icon.phone-field-flag-cl {
  background-position: -176px -22px;
}
.phone-field-flag-icon.phone-field-flag-cm {
  background-position: -192px -22px;
}
.phone-field-flag-icon.phone-field-flag-cn {
  background-position: -208px -22px;
}
.phone-field-flag-icon.phone-field-flag-co {
  background-position: -224px -22px;
}
.phone-field-flag-icon.phone-field-flag-cr {
  background-position: -240px -22px;
}
.phone-field-flag-icon.phone-field-flag-cu {
  background-position: 0 -33px;
}
.phone-field-flag-icon.phone-field-flag-cv {
  background-position: -16px -33px;
}
.phone-field-flag-icon.phone-field-flag-cw {
  background-position: -32px -33px;
}
.phone-field-flag-icon.phone-field-flag-cy {
  background-position: -48px -33px;
}
.phone-field-flag-icon.phone-field-flag-cz {
  background-position: -64px -33px;
}
.phone-field-flag-icon.phone-field-flag-de {
  background-position: -80px -33px;
}
.phone-field-flag-icon.phone-field-flag-dj {
  background-position: -96px -33px;
}
.phone-field-flag-icon.phone-field-flag-dk {
  background-position: -112px -33px;
}
.phone-field-flag-icon.phone-field-flag-dm {
  background-position: -128px -33px;
}
.phone-field-flag-icon.phone-field-flag-do {
  background-position: -144px -33px;
}
.phone-field-flag-icon.phone-field-flag-dz {
  background-position: -160px -33px;
}
.phone-field-flag-icon.phone-field-flag-ec {
  background-position: -176px -33px;
}
.phone-field-flag-icon.phone-field-flag-ee {
  background-position: -192px -33px;
}
.phone-field-flag-icon.phone-field-flag-eg {
  background-position: -208px -33px;
}
.phone-field-flag-icon.phone-field-flag-eh {
  background-position: -224px -33px;
}
.phone-field-flag-icon.phone-field-flag-england {
  background-position: -240px -33px;
}
.phone-field-flag-icon.phone-field-flag-er {
  background-position: 0 -44px;
}
.phone-field-flag-icon.phone-field-flag-es {
  background-position: -16px -44px;
}
.phone-field-flag-icon.phone-field-flag-et {
  background-position: -32px -44px;
}
.phone-field-flag-icon.phone-field-flag-eu {
  background-position: -48px -44px;
}
.phone-field-flag-icon.phone-field-flag-fi {
  background-position: -64px -44px;
}
.phone-field-flag-icon.phone-field-flag-fj {
  background-position: -80px -44px;
}
.phone-field-flag-icon.phone-field-flag-fk {
  background-position: -96px -44px;
}
.phone-field-flag-icon.phone-field-flag-fm {
  background-position: -112px -44px;
}
.phone-field-flag-icon.phone-field-flag-fo {
  background-position: -128px -44px;
}
.phone-field-flag-icon.phone-field-flag-fr {
  background-position: -144px -44px;
}
.phone-field-flag-icon.phone-field-flag-ga {
  background-position: -160px -44px;
}
.phone-field-flag-icon.phone-field-flag-gb {
  background-position: -176px -44px;
}
.phone-field-flag-icon.phone-field-flag-gd {
  background-position: -192px -44px;
}
.phone-field-flag-icon.phone-field-flag-ge {
  background-position: -208px -44px;
}
.phone-field-flag-icon.phone-field-flag-gf {
  background-position: -224px -44px;
}
.phone-field-flag-icon.phone-field-flag-gg {
  background-position: -240px -44px;
}
.phone-field-flag-icon.phone-field-flag-gh {
  background-position: 0 -55px;
}
.phone-field-flag-icon.phone-field-flag-gi {
  background-position: -16px -55px;
}
.phone-field-flag-icon.phone-field-flag-gl {
  background-position: -32px -55px;
}
.phone-field-flag-icon.phone-field-flag-gm {
  background-position: -48px -55px;
}
.phone-field-flag-icon.phone-field-flag-gn {
  background-position: -64px -55px;
}
.phone-field-flag-icon.phone-field-flag-gp {
  background-position: -80px -55px;
}
.phone-field-flag-icon.phone-field-flag-gq {
  background-position: -96px -55px;
}
.phone-field-flag-icon.phone-field-flag-gr {
  background-position: -112px -55px;
}
.phone-field-flag-icon.phone-field-flag-gs {
  background-position: -128px -55px;
}
.phone-field-flag-icon.phone-field-flag-gt {
  background-position: -144px -55px;
}
.phone-field-flag-icon.phone-field-flag-gu {
  background-position: -160px -55px;
}
.phone-field-flag-icon.phone-field-flag-gw {
  background-position: -176px -55px;
}
.phone-field-flag-icon.phone-field-flag-gy {
  background-position: -192px -55px;
}
.phone-field-flag-icon.phone-field-flag-hk {
  background-position: -208px -55px;
}
.phone-field-flag-icon.phone-field-flag-hm {
  background-position: -224px -55px;
}
.phone-field-flag-icon.phone-field-flag-hn {
  background-position: -240px -55px;
}
.phone-field-flag-icon.phone-field-flag-hr {
  background-position: 0 -66px;
}
.phone-field-flag-icon.phone-field-flag-ht {
  background-position: -16px -66px;
}
.phone-field-flag-icon.phone-field-flag-hu {
  background-position: -32px -66px;
}
.phone-field-flag-icon.phone-field-flag-ic {
  background-position: -48px -66px;
}
.phone-field-flag-icon.phone-field-flag-id {
  background-position: -64px -66px;
}
.phone-field-flag-icon.phone-field-flag-ie {
  background-position: -80px -66px;
}
.phone-field-flag-icon.phone-field-flag-il {
  background-position: -96px -66px;
}
.phone-field-flag-icon.phone-field-flag-im {
  background-position: -112px -66px;
}
.phone-field-flag-icon.phone-field-flag-in {
  background-position: -128px -66px;
}
.phone-field-flag-icon.phone-field-flag-io {
  background-position: -144px -66px;
}
.phone-field-flag-icon.phone-field-flag-iq {
  background-position: -160px -66px;
}
.phone-field-flag-icon.phone-field-flag-ir {
  background-position: -176px -66px;
}
.phone-field-flag-icon.phone-field-flag-is {
  background-position: -192px -66px;
}
.phone-field-flag-icon.phone-field-flag-it {
  background-position: -208px -66px;
}
.phone-field-flag-icon.phone-field-flag-je {
  background-position: -224px -66px;
}
.phone-field-flag-icon.phone-field-flag-jm {
  background-position: -240px -66px;
}
.phone-field-flag-icon.phone-field-flag-jo {
  background-position: 0 -77px;
}
.phone-field-flag-icon.phone-field-flag-jp {
  background-position: -16px -77px;
}
.phone-field-flag-icon.phone-field-flag-ke {
  background-position: -32px -77px;
}
.phone-field-flag-icon.phone-field-flag-kg {
  background-position: -48px -77px;
}
.phone-field-flag-icon.phone-field-flag-kh {
  background-position: -64px -77px;
}
.phone-field-flag-icon.phone-field-flag-ki {
  background-position: -80px -77px;
}
.phone-field-flag-icon.phone-field-flag-km {
  background-position: -96px -77px;
}
.phone-field-flag-icon.phone-field-flag-kn {
  background-position: -112px -77px;
}
.phone-field-flag-icon.phone-field-flag-kp {
  background-position: -128px -77px;
}
.phone-field-flag-icon.phone-field-flag-kr {
  background-position: -144px -77px;
}
.phone-field-flag-icon.phone-field-flag-kurdistan {
  background-position: -160px -77px;
}
.phone-field-flag-icon.phone-field-flag-kw {
  background-position: -176px -77px;
}
.phone-field-flag-icon.phone-field-flag-ky {
  background-position: -192px -77px;
}
.phone-field-flag-icon.phone-field-flag-kz {
  background-position: -208px -77px;
}
.phone-field-flag-icon.phone-field-flag-la {
  background-position: -224px -77px;
}
.phone-field-flag-icon.phone-field-flag-lb {
  background-position: -240px -77px;
}
.phone-field-flag-icon.phone-field-flag-lc {
  background-position: 0 -88px;
}
.phone-field-flag-icon.phone-field-flag-li {
  background-position: -16px -88px;
}
.phone-field-flag-icon.phone-field-flag-lk {
  background-position: -32px -88px;
}
.phone-field-flag-icon.phone-field-flag-lr {
  background-position: -48px -88px;
}
.phone-field-flag-icon.phone-field-flag-ls {
  background-position: -64px -88px;
}
.phone-field-flag-icon.phone-field-flag-lt {
  background-position: -80px -88px;
}
.phone-field-flag-icon.phone-field-flag-lu {
  background-position: -96px -88px;
}
.phone-field-flag-icon.phone-field-flag-lv {
  background-position: -112px -88px;
}
.phone-field-flag-icon.phone-field-flag-ly {
  background-position: -128px -88px;
}
.phone-field-flag-icon.phone-field-flag-ma {
  background-position: -144px -88px;
}
.phone-field-flag-icon.phone-field-flag-mc {
  background-position: -160px -88px;
}
.phone-field-flag-icon.phone-field-flag-md {
  background-position: -176px -88px;
}
.phone-field-flag-icon.phone-field-flag-me {
  background-position: -192px -88px;
}
.phone-field-flag-icon.phone-field-flag-mg {
  background-position: -208px -88px;
}
.phone-field-flag-icon.phone-field-flag-mh {
  background-position: -224px -88px;
}
.phone-field-flag-icon.phone-field-flag-mk {
  background-position: -240px -88px;
}
.phone-field-flag-icon.phone-field-flag-ml {
  background-position: 0 -99px;
}
.phone-field-flag-icon.phone-field-flag-mm {
  background-position: -16px -99px;
}
.phone-field-flag-icon.phone-field-flag-mn {
  background-position: -32px -99px;
}
.phone-field-flag-icon.phone-field-flag-mo {
  background-position: -48px -99px;
}
.phone-field-flag-icon.phone-field-flag-mp {
  background-position: -64px -99px;
}
.phone-field-flag-icon.phone-field-flag-mq {
  background-position: -80px -99px;
}
.phone-field-flag-icon.phone-field-flag-mr {
  background-position: -96px -99px;
}
.phone-field-flag-icon.phone-field-flag-ms {
  background-position: -112px -99px;
}
.phone-field-flag-icon.phone-field-flag-mt {
  background-position: -128px -99px;
}
.phone-field-flag-icon.phone-field-flag-mu {
  background-position: -144px -99px;
}
.phone-field-flag-icon.phone-field-flag-mv {
  background-position: -160px -99px;
}
.phone-field-flag-icon.phone-field-flag-mw {
  background-position: -176px -99px;
}
.phone-field-flag-icon.phone-field-flag-mx {
  background-position: -192px -99px;
}
.phone-field-flag-icon.phone-field-flag-my {
  background-position: -208px -99px;
}
.phone-field-flag-icon.phone-field-flag-mz {
  background-position: -224px -99px;
}
.phone-field-flag-icon.phone-field-flag-na {
  background-position: -240px -99px;
}
.phone-field-flag-icon.phone-field-flag-nc {
  background-position: 0 -110px;
}
.phone-field-flag-icon.phone-field-flag-ne {
  background-position: -16px -110px;
}
.phone-field-flag-icon.phone-field-flag-nf {
  background-position: -32px -110px;
}
.phone-field-flag-icon.phone-field-flag-ng {
  background-position: -48px -110px;
}
.phone-field-flag-icon.phone-field-flag-ni {
  background-position: -64px -110px;
}
.phone-field-flag-icon.phone-field-flag-nl {
  background-position: -80px -110px;
}
.phone-field-flag-icon.phone-field-flag-no {
  background-position: -96px -110px;
}
.phone-field-flag-icon.phone-field-flag-np {
  background-position: -112px -110px;
}
.phone-field-flag-icon.phone-field-flag-nr {
  background-position: -128px -110px;
}
.phone-field-flag-icon.phone-field-flag-nu {
  background-position: -144px -110px;
}
.phone-field-flag-icon.phone-field-flag-nz {
  background-position: -160px -110px;
}
.phone-field-flag-icon.phone-field-flag-om {
  background-position: -176px -110px;
}
.phone-field-flag-icon.phone-field-flag-pa {
  background-position: -192px -110px;
}
.phone-field-flag-icon.phone-field-flag-pe {
  background-position: -208px -110px;
}
.phone-field-flag-icon.phone-field-flag-pf {
  background-position: -224px -110px;
}
.phone-field-flag-icon.phone-field-flag-pg {
  background-position: -240px -110px;
}
.phone-field-flag-icon.phone-field-flag-ph {
  background-position: 0 -121px;
}
.phone-field-flag-icon.phone-field-flag-pk {
  background-position: -16px -121px;
}
.phone-field-flag-icon.phone-field-flag-pl {
  background-position: -32px -121px;
}
.phone-field-flag-icon.phone-field-flag-pm {
  background-position: -48px -121px;
}
.phone-field-flag-icon.phone-field-flag-pn {
  background-position: -64px -121px;
}
.phone-field-flag-icon.phone-field-flag-pr {
  background-position: -80px -121px;
}
.phone-field-flag-icon.phone-field-flag-ps {
  background-position: -96px -121px;
}
.phone-field-flag-icon.phone-field-flag-pt {
  background-position: -112px -121px;
}
.phone-field-flag-icon.phone-field-flag-pw {
  background-position: -128px -121px;
}
.phone-field-flag-icon.phone-field-flag-py {
  background-position: -144px -121px;
}
.phone-field-flag-icon.phone-field-flag-qa {
  background-position: -160px -121px;
}
.phone-field-flag-icon.phone-field-flag-re {
  background-position: -176px -121px;
}
.phone-field-flag-icon.phone-field-flag-ro {
  background-position: -192px -121px;
}
.phone-field-flag-icon.phone-field-flag-rs {
  background-position: -208px -121px;
}
.phone-field-flag-icon.phone-field-flag-ru {
  background-position: -224px -121px;
}
.phone-field-flag-icon.phone-field-flag-rw {
  background-position: -240px -121px;
}
.phone-field-flag-icon.phone-field-flag-sa {
  background-position: 0 -132px;
}
.phone-field-flag-icon.phone-field-flag-sb {
  background-position: -16px -132px;
}
.phone-field-flag-icon.phone-field-flag-sc {
  background-position: -32px -132px;
}
.phone-field-flag-icon.phone-field-flag-scotland {
  background-position: -48px -132px;
}
.phone-field-flag-icon.phone-field-flag-sd {
  background-position: -64px -132px;
}
.phone-field-flag-icon.phone-field-flag-se {
  background-position: -80px -132px;
}
.phone-field-flag-icon.phone-field-flag-sg {
  background-position: -96px -132px;
}
.phone-field-flag-icon.phone-field-flag-sh {
  background-position: -112px -132px;
}
.phone-field-flag-icon.phone-field-flag-si {
  background-position: -128px -132px;
}
.phone-field-flag-icon.phone-field-flag-sk {
  background-position: -144px -132px;
}
.phone-field-flag-icon.phone-field-flag-sl {
  background-position: -160px -132px;
}
.phone-field-flag-icon.phone-field-flag-sm {
  background-position: -176px -132px;
}
.phone-field-flag-icon.phone-field-flag-sn {
  background-position: -192px -132px;
}
.phone-field-flag-icon.phone-field-flag-so {
  background-position: -208px -132px;
}
.phone-field-flag-icon.phone-field-flag-somaliland {
  background-position: -224px -132px;
}
.phone-field-flag-icon.phone-field-flag-sr {
  background-position: -240px -132px;
}
.phone-field-flag-icon.phone-field-flag-ss {
  background-position: 0 -143px;
}
.phone-field-flag-icon.phone-field-flag-st {
  background-position: -16px -143px;
}
.phone-field-flag-icon.phone-field-flag-sv {
  background-position: -32px -143px;
}
.phone-field-flag-icon.phone-field-flag-sx {
  background-position: -48px -143px;
}
.phone-field-flag-icon.phone-field-flag-sy {
  background-position: -64px -143px;
}
.phone-field-flag-icon.phone-field-flag-sz {
  background-position: -80px -143px;
}
.phone-field-flag-icon.phone-field-flag-tc {
  background-position: -96px -143px;
}
.phone-field-flag-icon.phone-field-flag-td {
  background-position: -112px -143px;
}
.phone-field-flag-icon.phone-field-flag-tf {
  background-position: -128px -143px;
}
.phone-field-flag-icon.phone-field-flag-tg {
  background-position: -144px -143px;
}
.phone-field-flag-icon.phone-field-flag-th {
  background-position: -160px -143px;
}
.phone-field-flag-icon.phone-field-flag-tj {
  background-position: -176px -143px;
}
.phone-field-flag-icon.phone-field-flag-tk {
  background-position: -192px -143px;
}
.phone-field-flag-icon.phone-field-flag-tl {
  background-position: -208px -143px;
}
.phone-field-flag-icon.phone-field-flag-tm {
  background-position: -224px -143px;
}
.phone-field-flag-icon.phone-field-flag-tn {
  background-position: -240px -143px;
}
.phone-field-flag-icon.phone-field-flag-to {
  background-position: 0 -154px;
}
.phone-field-flag-icon.phone-field-flag-tr {
  background-position: -16px -154px;
}
.phone-field-flag-icon.phone-field-flag-tt {
  background-position: -32px -154px;
}
.phone-field-flag-icon.phone-field-flag-tv {
  background-position: -48px -154px;
}
.phone-field-flag-icon.phone-field-flag-tw {
  background-position: -64px -154px;
}
.phone-field-flag-icon.phone-field-flag-tz {
  background-position: -80px -154px;
}
.phone-field-flag-icon.phone-field-flag-ua {
  background-position: -96px -154px;
}
.phone-field-flag-icon.phone-field-flag-ug {
  background-position: -112px -154px;
}
.phone-field-flag-icon.phone-field-flag-um {
  background-position: -128px -154px;
}
.phone-field-flag-icon.phone-field-flag-us {
  background-position: -144px -154px;
}
.phone-field-flag-icon.phone-field-flag-uy {
  background-position: -160px -154px;
}
.phone-field-flag-icon.phone-field-flag-uz {
  background-position: -176px -154px;
}
.phone-field-flag-icon.phone-field-flag-va {
  background-position: -192px -154px;
}
.phone-field-flag-icon.phone-field-flag-vc {
  background-position: -208px -154px;
}
.phone-field-flag-icon.phone-field-flag-ve {
  background-position: -224px -154px;
}
.phone-field-flag-icon.phone-field-flag-vg {
  background-position: -240px -154px;
}
.phone-field-flag-icon.phone-field-flag-vi {
  background-position: 0 -165px;
}
.phone-field-flag-icon.phone-field-flag-vn {
  background-position: -16px -165px;
}
.phone-field-flag-icon.phone-field-flag-vu {
  background-position: -32px -165px;
}
.phone-field-flag-icon.phone-field-flag-wales {
  background-position: -48px -165px;
}
.phone-field-flag-icon.phone-field-flag-wf {
  background-position: -64px -165px;
}
.phone-field-flag-icon.phone-field-flag-ws {
  background-position: -80px -165px;
}
.phone-field-flag-icon.phone-field-flag-ye {
  background-position: -96px -165px;
}
.phone-field-flag-icon.phone-field-flag-yt {
  background-position: -112px -165px;
}
.phone-field-flag-icon.phone-field-flag-za {
  background-position: -128px -165px;
}
.phone-field-flag-icon.phone-field-flag-zanzibar {
  background-position: -144px -165px;
}
.phone-field-flag-icon.phone-field-flag-zm {
  background-position: -160px -165px;
}
.phone-field-flag-icon.phone-field-flag-zw {
  background-position: -176px -165px;
}
.phone-field-flag-icon {
  margin-right: 4px;
  display: inline-block;
  width: 16px;
  height: 11px;
  background: url(../../437469ac1745bb93a0d6.png) no-repeat;
}
.input-group-btn.phone-field-flag {
  display: table-cell;
  width: 45px;
  vertical-align: top;
}
.input-group-btn.phone-field-flag .phone-field-flag-country {
  display: block;
  float: left;
  width: 80px;
  max-width: 90px;
  height: 20px;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
@media (max-width: 1366px) {
  .input-group-btn.phone-field-flag .phone-field-flag-country {
    width: 25px;
    text-overflow: clip;
  }
}
[role='tooltip'] {
  z-index: 5;
}

/*# sourceMappingURL=main.1b1d7827.css.map*/
