@import './variables';

// Scrollbars
.pretty-scrollbars,
html:not(.touch-screen) {
  ::-webkit-scrollbar-track {
    background-color: transparent;
  }
  ::-webkit-scrollbar {
    width: 12px;
    height: 12px;
  }
  ::-webkit-scrollbar-thumb {
    border: solid 2px transparent;
    background-color: $gray;
    border-radius: 9px;
    background-clip: content-box;
  }
  .scrollbars-tiny::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  .scrollbars-scroll-only:not(:hover) {
    overflow: hidden !important;
  }
  &[data-color-mode='dark'] {
    ::-webkit-scrollbar-thumb {
      background-color: #e3e8ed;
    }
  }
}

.flicker {
  animation-name: flicker !important;
  animation-duration: 0.1s !important;
  animation-iteration-count: infinite !important;
}
@keyframes flicker {
  0% {
    opacity: 0;
  }
  10%,
  70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
